/* Resete */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffedd4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}


p,
label {
    color: #444;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

/* Escolher o tipo de input */
input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 100%;
    margin: 0 auto;
}

textarea {
    padding: 10px 5px;
}

/* cabeçalho da página */
.header {
    height: 160px;
    padding: 20px;
    background-color: #7f4a00;
}

.header h3 {
    color: #fff;
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

/* form container */
.form-container {
    background-color: #fdfdfd;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

/* form header */
.form-header {
    border-bottom: 1px solid #DFDFDF;
    height: 45px;
}

.form-header p {
    color: #7f4a00;
    border-bottom: 2px solid #7f4a00;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    /* maiusculo */
    height: 45px;
    /* altura */
    line-height: 45px;
    /* altura de linha */
}

/* form bosy */
.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.campo-obrigatorio {
    color: #ff0000a7;
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
    /* quebra de linha em label's */
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
    list-style: none;
    margin-bottom: 5px;
}

.box-input p {
    margin-bottom: 20px;
}

/* botão / submit */
.btn-submit {
    background-color: #7f4a00;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: #7f4a00;
    color: #7f4a00;
}

/* reset */
.btn-reset {
    background-color: #850000;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn-reset:hover {
    background-color: #fff;
    border-color: #850000;
    color: #850000;
}