body {
    background-color: silver;
    padding-bottom: 1000px;
}

h1 {
    color: cadetblue;
    font: bold;
    font-size: 50px;
    text-align: center;
}

h4 {
    font-size: 35px;
}

p {
    font-size: 20px;
}