body {
    padding: 0px;
    margin: 0px;
    padding-bottom: 500px;
}

div {
    margin-bottom: 10px;
}

div input,
div label {
    display: block;
}

.radio label,
.radio input,
.radio span {
    display: inline-block;
}
