body {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    background-color: #DDD;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.negrito {
    font-weight: bold;
}

/* Header */
.header {
    text-align: center;
}