/* 4. CSS Externo */
body {
    padding-bottom: 500px;
}

h3 {
    color: blueviolet;
    font-size: 40px;
    text-align: center;
}

/* Classes */
.paragrafo {
    background-color: bisque;
    color: blue;   
}